<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
	<title>Insert title here</title>
</head>
<body>

	<div data-th-fragment="menu">
		<ul>
			<li><a data-th-href="@{/}">Inicio</a></li>
			<li><a data-th-href="@{/h2-console}">H2</a></li>
			<li><a data-th-href="@{/admin/dashboard}">Admin Dashboard</a></li>
			<li><a data-th-href="@{/registro}">Registro</a></li>
			<li><a data-th-href="@{/productos}">Productos</a></li>			
			<li><a data-th-href="@{/contacto}">Contacto</a></li>
			<li><a data-th-href="@{/salir}">Salir</a></li> 
		</ul>
		Conectado como: <span data-sec-authentication="name" /><br />
		Permisos: <span data-sec-authorize="isAuthenticated()" data-sec-authentication="principal.authorities" />
	</div>

</body>
</html>